---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/about/" | prepend: site.baseurl }}>About</a>
    </div>
</header>


<main class="content" role="main">

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
# 영상커미션
<br><br>
### A타입

매드무비
<br>배경음악과 간단한 전환효과, 색상보정을 추가한 하이라이트 영상
<br>시간 : 최대 3분 (1분 추가시 10000원)
<br>가격 : ~~25000~~ 20000
<br><br>**샘플영상이 충분히 모일때까지 할인된 가격으로 커미션을 받을 예정입니다.*

<br><br>
---

### B타입

프랙무비
<br>영상과 싱크를 맞춘 배경음악, 슬로우, 모션트레킹, 색상보정, 전환효과 등
<br>*원하는 효과가 있으시면 문의해주세요. 3D효과 & CG 등 사용할 효과에 따라서는 추가비용이 발생할 수 있습니다.
<br>약 2분 (1분 추가시 15000원)
<br>가격 : ~~60000~~ 50000
<br><br>**샘플영상이 충분히 모일때까지 할인된 가격으로 커미션을 받을 예정입니다.*

<br><br><br>


**'소스영상의 퀄리티 = 결과물의 퀄리티'** 입니다.
<br><br>소스영상의 해상도, 프레임레이트, 비트레이트가 낮을 경우 편집과정에서 화질을 개선할 수 없다는 점 참고해주세요.
<br><br>해상도는 최소 720p(1280x720)이상을 권장하며 1080p(1920x1080)를 권장드립니다.
<br>1440p이상의 영상도 받고 있습니다만, 최종작업물은 1080p로 출력됩니다.
<br><br>**A타입의 경우** 30프레임 이상,
<br>**B타입의 경우** 60프레임 이상을 권장합니다.(30p 영상으로 제작시 슬로우효과 사용에 제약이 있습니다.)
<br><br>사용프로그램 : 어도비 프리미어 & 에프터 이펙트
<br><br>아래는 최종 출력물의 파일포멧입니다.
>**비디오**
<br>해상도 : (소스해상도)
<br>프레임레이트 : 30p
<br>코덱 : H.264 (mp4)
<br>비트레이트 : 10000
<br><br>**오디오**
<br>320
<br>44,100Hz



##### 입금 안내
<br>커미션 신청 시 입금 계좌를 알려드립니다.
<br>(우리은행, 카카오뱅크)
<br>
##### 환불 안내
<br>입금확인 후 원본 영상을 받기 전까지는 전액환불 가능합니다.
<br>영상 작업이 시작된 이후에는 환불이 불가합니다.
<br>
##### 작업기간
<br>A타입 : 10일 ~ 최대 2주
<br>B타입 : 20일 ~ 최대 4주
<br>
##### 작업과정
<br>문의> 입금 확인> 원본 영상 확인> 작업개시> 완성
<br>작업스타일상 진행과정이 순차적이지 않기 때문에 별도의 컨펌은 받지 않고 있습니다.
<br>처음 의뢰하실때 원하는 영상 스타일을 자세하게 설명 해주시는 게 좋습니다.
<br>다만 완성작에서 간단한 수정은 가능합니다. (색감,필터 등)
<br><br>의뢰받는 영상 하나하나 제 이름이 남는 작품이라는 생각으로 작업하고 있습니다. 
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
